<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h2 class="text-center">Email History</h2>
<body>

    <table class="table">
        <thead>
          <tr>
            <th>Email From</th>
            <th>Email To</th>
            <th>Status</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>
            {% for email  in email_history %}
            <tr>
                <td>{{email.email_from}}</td>
                <td>{{email.email_to}}</td>
                <td>{{email.status}}</td>
                <td>{{email.dateTime}}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</body>
</html>