<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text-center mt-5 pt-5" >
    <h2></h2>
    <form method="post" enctype="multipart/form-data" class="mt-5">
        {% csrf_token %}
        <input type="file" name="files">
        <button type="submit" class="btn btn-primary">Convert</button>
    
    </form>
</div>
</body>
</html>