{% block content %} 
{% load crispy_forms_tags %}         
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div class="container">
	<div class="row">
<div class="card col-md-6 mx-auto mt-4">
			<div class="card-header">
				<div class="card-title">

	<h1>Login</h1>
</div>
</div>

<div class="card-body">
	<div class="p-2">

	<form method="POST">
		{% csrf_token %}
		{{ login_form }}
	<div class="row col-md-12 mt-2 p-2">
		<button class="btn btn-primary col-md-3 mx-auto" type="submit">Login</button>
	</div>
	</form>
	<p class="text-center">Don't have an account, <a href="/register">Register</a> instead.</p>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
