{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css.css'%}">
<link rel="stylesheet" href="/static/css.css">

<div class="container">
  <div class="card col-md-12 mx-auto mt-4 mb-4">
    <div class="card-header">
		<div class="card-title">
			<center><h1>User Page</h1></center>
		</div>
	</div>
</div>
  
{% if user.is_authenticated %}

{% comment %} <button type="button" class="btn btn-outline-info"><a href="{% url 'download-data' %}">Download</a></button>    
<button type="button" class="btn btn-outline-info"><a href="{% url 'attach-file' %}">Send-Mail-Now</a></button>     {% endcomment %}

<div class="card-body">
  <div class="p-2">
<form name="myForm" action="{% url 'mailing' %}" onsubmit="return validateForm()" method="post">

{% csrf_token %}

<label for="email_id">User Email:</label>
<span id="email_error" style="color:red;"></span>    
<select name="email_id" id="email_id">
  <option value="">None</option>
  <option value="{{request.user.email}}">{{request.user.email}}</option>    
</select>

<input type="hidden" name="dateTime" id="dateTime" value="">

<div>scheduler</div>
<input type="button" id="btn1" value="yes" onclick="show(this)">

<div id="datefield" style="display:none">
    Date:
    <input type="date" id="date" name="date">
</div>

<div id="datefield_new" style="display:none">
  Date2(optional):
  <input type="date" id="date_new" name="date_new">
</div>


<div id="timefield" style="display:none">
    Time:
    <input type="time" name="timing" id="timing">
  
  <div>Refresh Period</div>
    <input type="button" id="btn2" value="yes" onclick="show2(this)">
      <div id="check1" style="display:none">
        monthly:
        <input type="radio" name="refresh_period" id="monthly" value="monthly">
        weekly:
        <input type="radio" name="refresh_period" id="weekly" value="weekly">
        hourly:
        <input type="radio" name="refresh_period" id="hourly" value="hourly">
        daily:
        <input type="radio" name="refresh_period" id="daily" value="daily">
      </div>
  </div>

<button type="submit" class="btn btn-outline-info">Send</a></button>    

</form>
</div>
{% if user.is_superuser %}
<div class="d-flex justify-content-end">
  <a href="{% url 'email-history' %}" class="btn btn-success">Email History</a>
</div>
<form name="myForm2" action={% url 'mailing_all' %} onsubmit="return validateForm2()" method="post">
  {% csrf_token %}
  <br>
  <label for="email_all">All Email</label>
  <span id="email_all" style="color:red;"></span>
  <select name="email_all" id="email_all">
     <option value=reciepient_list>All</option>
     {% for user in users %}
     <option value="{{user.email}}">{{user.email}}</option>
     {% endfor %}
  
  </select>

<div>scheduler</div>    
  <input type="button" id="btn3" value="yes" onclick="show3(this)">
  <div id="datefield2" style="display:none">
      Date:
      <input type="date" id="date" name="date">
  </div>
  
  <div id="timefield2" style="display:none">
      Time:
      <input type="time" name="timing" id="timing">
      <div>Refresh Period</div>
  
      <input type="button" id="btn4" value="yes" onclick="show4(this)">
  
        <div id="check2" style="display:none">
          monthly:
          <input type="radio" name="refresh_period" id="monthly" value="monthly">
          weekly:
          <input type="radio" name="refresh_period" id="weekly" value="weekly">
          hourly:
          <input type="radio" name="refresh_period" id="hourly" value="hourly">
          daily:
          <input type="radio" name="refresh_period" id="daily" value="daily">      
        </div>
      </div>
 
<button type="submit" class="btn btn-outline-info">Send</a></button>  
</form>
</div>

</div>


{% endif %}  

{% else%}
<h1>Please Login First</h1>
<button type="button" class="btn btn-outline-success"><a href="{% url 'login' %}">Login</a></button>    
{% endif %}
</div>

<script>      
  
  function validateForm(){
    let x=document.forms["myForm"]["email_id"].value;
    
    let curDate=new Date();          
    
    document.getElementById('dateTime').value = curDate.toISOString(); 


    if (x=="") {
        document.getElementById("email_error").innerHTML=  "Required";  
        return false;
    }
    return true;      
  }

</script> 
<script>

  function validateForm2(){
      debugger;
      let x=document.forms["myForm2"]["email_all"].value;
      if (x=="") {
          document.getElementById("email_all").innerHTML=  "Required";  
          return false;
      }
      return true;          
  }

</script>
<script>

  function show(btn1){
    var datefield=document.getElementById('datefield');
    var datefield_new=document.getElementById('datefield_new');
    var timefield=document.getElementById('timefield');
      if (btn1.value=="yes"){
          datefield.style.display="block"
          datefield_new.style.display="block"
          timefield.style.display="block"
          btn1.value="no"
      }
      else{
          datefield.style.display="none"
          datefield_new.style.display="none"
          timefield.style.display="none"
          btn1.value="yes"
      }            
  }

function show2(btn2){
      var check1=document.getElementById('check1');
      if(btn2.value=="yes"){
      check1.style.display="block"
      btn2.value="no"
  }
  else{ 
      check1.style.display="none"
      btn2.value="yes"
  }
}
</script>

<script>

  function show3(btn3){
    var datefield2=document.getElementById('datefield2');
    var timefield2=document.getElementById('timefield2');
    if (btn3.value=="yes"){
        datefield2.style.display="block"
        timefield2.style.display="block"
        btn3.value="no"
    }
    else{
        datefield2.style.display="none"
        timefield2.style.display="none"
        btn3.value="yes"
    }            
  }
  
  
  function show4(btn4){
    var check2=document.getElementById('check2');
    if(btn4.value=="yes"){
    check2.style.display="block"
    btn4.value="no"
  }

else{ 
    check2.style.display="none"
    btn4.value="yes"
}
}

</script>
