<div>scheduler</div>    
<input type="button" id="btn1" value="yes" onclick="show(this)">
<div id="datefield" style="display:none">
    Date:
    <input type="date" id="date" name="date">
</div>

<div id="timefield" style="display:none">
    Time:
    <input type="time" name="timing" id="timing">
    <div>Refresh Period</div>

    <input type="button" id="btn2" value="yes" onclick="show2(this)">

    <div id="check1" style="display:none">
        monthly:
        <input type="checkbox" name="monthly" id="monthly">
        weekly:
        <input type="checkbox" name="weekly" id="weekly">
        hourly:
        <input type="checkbox" name="hourly" id="hourly">
        daily:
        <input type="checkbox" name="daily" id="daily">
    
      </div>
</div>